#basket {
  margin: 50px 0;

  td {
    height: 80px;
  }

  @media (max-width: 768px) {
    tr, td, th, tbody, thead {
      align-items: center !important;
      justify-content: center !important;
    }
    .basket-table {
      display: block; /* Tabloyu blok düzene dönüştür */
      width: 100%;
    }

    .basket-table thead {
      display: none; /* Başlıkları gizle */
    }

    .basket-table tbody {
      display: block; /* Gövdeyi blok düzen yap */
    }

    .basket-table tr {
      display: block; /* Her bir satırı blok yap */
      border-bottom: 1px solid #ccc; /* Alt çizgi */
      font-size: 22px;
    }

    .basket-table td {
      display: flex; /* Hücreleri esnek düzenle */
      justify-content: space-between; /* İçerikleri yay */
      flex-direction: column;
      align-items: center;

      span {
        display: block; /* Kiçik ekranlar üçün başlıq */
        font-weight: bold;
        margin-bottom: 5px;
      }
    }

    .basket-table td img {
      max-width: 80px; /* Ürünün görselini boyutlandır */
      height: auto;
      object-fit: cover;
      aspect-ratio: 1/1;

    }

    .basket-table td input {
      max-width: 50px; /* Sayı kutusunu boyutlandır */
    }
  }

  @media (min-width: 769px) {
    .basket-table td span {
      display: none; /* Böyük ekranlarda span başlıqları gizlə */
    }
  }

  .testiq {
    background-color: #0DA5B5;
    border: 1px solid #0DA5B5;
    color: white;
    text-align: center;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
  }

  .basket-table {
    width: 100%;
    border-collapse: collapse;
    overflow: auto;

    th, td {
      text-align: center;
    }

    th {
      background-color: #f4f4f4;
      font-weight: bold;
    }

    tr {
      border-bottom: 1px solid #ccc; /* Alt çizgi */
    }

    td img {
      width:80px;
      height: 80px;
      object-fit: cover;
      border-radius: 5px;
      aspect-ratio: 1/1;

    }

    .delete {
      background-color: #ff5252;
      border: none;
      color: white;
      cursor: pointer;
      height: 45px;
      width: 90px;
      border-radius: 5px;
      font-size: 20px;

      &:hover {
        background-color: #e04848;
      }
    }

    input {
      width: 45px;
      height: 45px;
      text-align: center;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    button {
      background-color: #00bcd4;
      color: white;
      border: none;
      width: 45px;
      height: 45px;
      border-radius: 5px;
      cursor: pointer;
      margin: 0 5px;
      font-size: 30px;

      &:hover {
        background-color: #0097a7;
      }
    }
  }

  .line {
    width: 100%;
    height: 1px;
    background-color: #A8A8A8;
    margin: 15px 0 5px;
  }

  .endirim {
    background-color: #EBFDE8;
    font-size: 8px;
    padding: 4px;
  }

  .boxx {
    padding: 10px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    color: #454545;
  }

  .boxx1 {
    padding: 8px;
    background-color: #EBFDE8;

    .boxx2 {
      padding: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .boxx3 {
    font-size: 22px;
  }

  .box {
    margin-top: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 15px;

    .box1 {
      padding: 16px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      border-radius: 15px;
      background-color: white;
      text-align: center;
      font-size: 20px;
      font-weight: 700;
      color: #454545;
      position: relative;
      z-index: 10;
    }

    .wrapper {
      overflow: auto;
      background-color: white;
      padding: 16px;
      border-radius: 15px;
    }
  }

  @media screen and (max-width: 768px) {
    img {
      width: 170px !important;
      height: 170px !important;
      aspect-ratio: 1/1;
      object-fit: cover !important;
      margin-right: 16px !important;
      border-radius: 5px !important;
    }
  }
}
