#contactUs {
  h2, p {
    text-align: center;
  }

  .box {
    border: 1px solid black;
  }

  iframe {
    width: 100%;
    height: 450px;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
