#terms {
  padding: 16px;
  h2, p {
    text-align: start;
  }

  .h2, .p {
    text-align: center;
  }

  p {
    padding: 10px 0;
  }

  .box {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 50%;
    }
  }
}
