#navbar {
  padding: 16px;
  border-bottom: 1px solid #f2f2f2;
  background-color: white;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .icon {
      display: none;
      font-size: 27px;
    }

    .logo {
      img {
        height: 35px;
      }
    }

    .links {
      display: flex;
      flex-direction: row;
      gap: 30px;

      .link {
        font-weight: 500;
        color: rgba(69, 69, 69, 1);
        position: relative;
        text-decoration: none;

        &::after {
          content: ""; // Çizgi için içerik
          position: absolute;
          left: 0;
          bottom: -5px; // Çizginin linkin hemen altında görünmesi için
          width: 0; // Başlangıçta görünmez
          height: 1px; // Çizginin yüksekliği
          background-color: #454545; // Çizginin rengi
          transition: width 0.3s ease; // Animasyon için geçiş efekti
        }

        &:hover::after {
          width: 100%; // Hover sırasında çizgi tamamen görünür
        }
      }
    }
  }

  @media screen and (max-width: 992px) {
    .wrapper {
      .links {
        display: none;
      }

      .icon {
        display: block;
      }
    }
  }
}
