#bottomNavbar {
  padding: 16px;

  .icon1 {
    display: none;
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;

    .catalogWrapper {
      display: flex;
      align-items: center;
      gap: 10px;

      .icon {
        font-size: 22px;
      }

      .icon, span {
        font-weight: 500;
        color: rgba(69, 69, 69, 1);
      }
    }

    input {
      background: rgba(244, 244, 244, 1);
      border: 1px solid rgba(244, 244, 244, 1);
      height: 40px;
      padding: 0 20px;
      border-radius: 10px;
      max-width: 800px;
      width: 100%;
      outline: 1px solid #f4f4f4;

      &:focus {
        outline: 1px solid #0DA5B5;
      }

      &::placeholder {
        font-size: 16px;
      }
    }

    .actionWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;

      .icon {
        font-size: 22px;
      }

      .line1 {
        width: 25px;
        height: 1px;
        background-color: #000;
        transform: rotate(90deg);
      }

      .buttonWrapper {
        display: flex;
        align-items: center;
        gap: 10px;

        button {
          height: 40px;
          padding: 0 20px;
          font-size: 16px;
          background-color: rgba(13, 165, 181, 1);
          border: 1px solid rgba(13, 165, 181, 1);
          border-radius: 5px;
          color: white;
        }

        .button {
          background-color: white;
          color: rgba(69, 69, 69, 1);
          font-weight: 500;
        }
      }
    }
  }

  @media screen and (max-width: 992px) {
    .wrapper {
      .actionWrapper {
        .buttonWrapper {
          display: none;
        }
      }

      .icon1 {
        display: block;
      }
    }
  }
}