#banner {
  padding: 16px;

  .wrapper {

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;
    }

    .col-9 {
      padding: 12px 12px 12px 0;
    }

    .col-3 {
      padding: 12px 0 12px 12px;
    }

    .col-12 {
      padding: 6px 0 6px 0;
    }

    .col9img {
      height: 505px;
    }

    .col3img {
      height: 154px;
    }
  }

  @media screen and (max-width: 772px) {
    .col-3, .col-md-3, .col-sm-3, .col-xs-3, .col-9, .col-md-9, .col-sm-9, .col-xs-9 {
      padding: 4px 0 !important;
    }

    .col9img {
      height: 150px !important;
    }
  }
}