#newProducts {
  padding: 16px;

  h2 {
    text-align: center;
    padding: 0 0 16px 0;
    color: #454545;
    font-weight: 500;
  }

  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px;
      height: 36px;
    }
  }
}